app_temperatury.json
[
    {
        "id": "dae3b2705ec1e6f0",
        "type": "tab",
        "label": "Aplikacja dla czujnika temperatury",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7edb2d1526f56040",
        "type": "mqtt in",
        "z": "dae3b2705ec1e6f0",
        "name": "",
        "topic": "AMC/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "038eb83fd0c55fe9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "38a0beaf4b45ca98",
                "2c073a98b3e9c0e1",
                "61467e4db5b9d1a1",
                "b8f0a0fd59e04102",
                "7d7c549902032eda"
            ]
        ],
        "info": "Odbiera wiadomości z tematu 'AMC/test' na serwerze MQTT.\nReceives messages from the topic 'AMC/test' on the MQTT server."
    },
    {
        "id": "38a0beaf4b45ca98",
        "type": "function",
        "z": "dae3b2705ec1e6f0",
        "name": "rssi",
        "func": "if(msg.payload.action === \"data.scan\"){\n    msg.payload = msg.payload.data[0].rssi;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "e0895244735f0c35"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "2c073a98b3e9c0e1",
        "type": "function",
        "z": "dae3b2705ec1e6f0",
        "name": "temperatura",
        "func": "if(msg.payload.action === \"data.scan\"){\n    msg.payload = msg.payload.data[0].charValues.temperature;\n}\nmsg.topic = \"temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "2ab7be61ad9989b3"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość temperatury.\nProcesses messages to extract the temperature value."
    },
    {
        "id": "61467e4db5b9d1a1",
        "type": "ui_text",
        "z": "dae3b2705ec1e6f0",
        "group": "a97883d12d358ba6",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika",
        "format": "{{msg.payload.data[0].name}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 860,
        "y": 140,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\nDisplays the sensor name."
    },
    {
        "id": "b8f0a0fd59e04102",
        "type": "debug",
        "z": "dae3b2705ec1e6f0",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 340,
        "wires": [],
        "info": "Służy do debugowania wiadomości.\nUsed for debugging messages."
    },
    {
        "id": "7f663e326599b713",
        "type": "status",
        "z": "dae3b2705ec1e6f0",
        "name": "",
        "scope": [
            "7edb2d1526f56040"
        ],
        "x": 120,
        "y": 540,
        "wires": [
            [
                "3ef2bd65eb6507ca"
            ]
        ],
        "info": "Monitoruje status połączenia MQTT.\nMonitors the MQTT connection status."
    },
    {
        "id": "3ef2bd65eb6507ca",
        "type": "function",
        "z": "dae3b2705ec1e6f0",
        "name": "status mqtt",
        "func": "if(msg.status.fill === \"green\") {\n    msg.payload = 2;\n} else if (msg.status.fill === \"yellow\") {\n    msg.payload = 1;\n} else if (msg.status.fill === \"red\") {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "a3d4337963d8400a"
            ]
        ],
        "info": "Tłumaczy status połączenia MQTT na wartość numeryczną.\nTranslates the MQTT connection status into a numerical value."
    },
    {
        "id": "a3d4337963d8400a",
        "type": "ui_led",
        "z": "dae3b2705ec1e6f0",
        "order": 5,
        "group": "a97883d12d358ba6",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 540,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\nLED indicator displaying the MQTT connection status."
    },
    {
        "id": "7d7c549902032eda",
        "type": "ui_text",
        "z": "dae3b2705ec1e6f0",
        "group": "a97883d12d358ba6",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "temperatura",
        "format": "{{msg.payload.data[0].charValues.temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Lucida Sans Unicode,Lucida Grande,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 850,
        "y": 180,
        "wires": [],
        "info": "Wyświetla wartość temperatury.\nDisplays the temperature value."
    },
    {
        "id": "2ab7be61ad9989b3",
        "type": "ui_chart",
        "z": "dae3b2705ec1e6f0",
        "name": "wykresTemperatury",
        "group": "a97883d12d358ba6",
        "order": 11,
        "width": 20,
        "height": 7,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury w czasie.\nDraws a temperature chart over time."
    },
    {
        "id": "e0895244735f0c35",
        "type": "ui_gauge",
        "z": "dae3b2705ec1e6f0",
        "name": "",
        "group": "a97883d12d358ba6",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "rssi",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "71cc8093558ef395",
        "type": "comment",
        "z": "dae3b2705ec1e6f0",
        "name": "Odbieranie wiadomości",
        "info": "**MQTT In Node**:\n[POL]   Odbieranie wiadomości z tematu AMC/test na serwerze MQTT\n[ENG]   Receives messages from the topic \"AMC/test\" on the MQTT server\n",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "57af0835b9653139",
        "type": "comment",
        "z": "dae3b2705ec1e6f0",
        "name": "Przetwarzanie wiadomości",
        "info": "**Function Node \"rssi\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\n[ENG]   Processes messages to extract the RSSI value\n\n**Function Node \"temperatura\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość temperatury\n[ENG]   Processes messages to extract the temperature value.\n",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "85ce4e78e38ad8ba",
        "type": "comment",
        "z": "dae3b2705ec1e6f0",
        "name": "Monitoruje połączenie MQTT",
        "info": "**Status Node**:\n[POL]   Monitoruje status połączenia MQTT\n[ENG]   Monitors the MQTT connection status",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b60415a689fea86",
        "type": "comment",
        "z": "dae3b2705ec1e6f0",
        "name": "Status na wartość numeryczną",
        "info": "**Function Node \"status mqtt\"**:\n[POL]   Tłumaczy status połączenia MQTT na wartość numeryczną.\n[ENG]   Translates the MQTT connection status into a numerical value",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "8e82af64eba22b9f",
        "type": "comment",
        "z": "dae3b2705ec1e6f0",
        "name": "Elementy widoczne",
        "info": "**Text Node \"Nazwa czujnika\"**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node \"temperatura\"**:\n[POL]   Wyświetla wartość temperatury.\n[ENG]   Displays the temperature value.\n\n**Chart Node \"wykresTemperatury\"**:\n[POL]   Rysuje wykres temperatury w czasie.\n[ENG]   Draws a temperature chart over time.\n\n**Gauge Node \"rssi\"**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge\n\n**LED Node \"MQTT\"**:\n[POL]   Wskaźnik LED wyświetlający status połączenia MQTT.\n[ENG]   LED indicator displaying the MQTT connection status.",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "038eb83fd0c55fe9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.80.0.15",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a97883d12d358ba6",
        "type": "ui_group",
        "name": "Czujnik temperatury",
        "tab": "179dde65bf75e1b2",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "179dde65bf75e1b2",
        "type": "ui_tab",
        "name": "Ekran główny",
        "icon": "weekend",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]