temperatura.json
[
    {
        "id": "e01ca6b503c19193",
        "type": "tab",
        "label": "Aplikacja dla czujnika temperatury",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2174ad610ae77826",
        "type": "mqtt in",
        "z": "e01ca6b503c19193",
        "name": "",
        "topic": "AMC/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "038eb83fd0c55fe9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "a452cd7d15af086b",
                "af01ec527d587c85",
                "e6a07528c2739d54",
                "191b4e3a459394e8",
                "751578c90960609e"
            ]
        ],
        "info": "Odbiera wiadomości z tematu 'AMC/test' na serwerze MQTT.\nReceives messages from the topic 'AMC/test' on the MQTT server."
    },
    {
        "id": "a452cd7d15af086b",
        "type": "function",
        "z": "e01ca6b503c19193",
        "name": "rssi",
        "func": "if(msg.payload.action === \"data.scan\"){\n    msg.payload = msg.payload.data[0].rssi;\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "a9e2fe4a84313054"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "af01ec527d587c85",
        "type": "function",
        "z": "e01ca6b503c19193",
        "name": "temperatura",
        "func": "if(msg.payload.action === \"data.scan\"){\n    msg.payload = msg.payload.data[0].charValues.temperature;\n} else {\n    return;\n}\nmsg.topic = \"temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "1cfb65b5d9b8f75f"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość temperatury.\nProcesses messages to extract the temperature value."
    },
    {
        "id": "e6a07528c2739d54",
        "type": "ui_text",
        "z": "e01ca6b503c19193",
        "group": "8fd607afb4745910",
        "order": 1,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload.data[0].name}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 860,
        "y": 140,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\nDisplays the sensor name."
    },
    {
        "id": "191b4e3a459394e8",
        "type": "debug",
        "z": "e01ca6b503c19193",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 340,
        "wires": [],
        "info": "Służy do debugowania wiadomości.\nUsed for debugging messages."
    },
    {
        "id": "3be636fcb1576b66",
        "type": "status",
        "z": "e01ca6b503c19193",
        "name": "",
        "scope": [
            "2174ad610ae77826"
        ],
        "x": 120,
        "y": 540,
        "wires": [
            [
                "e1d63cab4d92ea97"
            ]
        ],
        "info": "Monitoruje status połączenia MQTT.\nMonitors the MQTT connection status."
    },
    {
        "id": "e1d63cab4d92ea97",
        "type": "function",
        "z": "e01ca6b503c19193",
        "name": "status mqtt",
        "func": "if(msg.status.fill === \"green\") {\n    msg.payload = 2;\n} else if (msg.status.fill === \"yellow\") {\n    msg.payload = 1;\n} else if (msg.status.fill === \"red\") {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "670f1106f84626f4"
            ]
        ],
        "info": "Tłumaczy status połączenia MQTT na wartość numeryczną.\nTranslates the MQTT connection status into a numerical value."
    },
    {
        "id": "670f1106f84626f4",
        "type": "ui_led",
        "z": "e01ca6b503c19193",
        "order": 4,
        "group": "8fd607afb4745910",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 540,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\nLED indicator displaying the MQTT connection status."
    },
    {
        "id": "751578c90960609e",
        "type": "ui_text",
        "z": "e01ca6b503c19193",
        "group": "8fd607afb4745910",
        "order": 5,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "temperatura:",
        "format": "{{msg.payload.data[0].charValues.temperature}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Lucida Sans Unicode,Lucida Grande,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 850,
        "y": 180,
        "wires": [],
        "info": "Wyświetla wartość temperatury.\nDisplays the temperature value."
    },
    {
        "id": "1cfb65b5d9b8f75f",
        "type": "ui_chart",
        "z": "e01ca6b503c19193",
        "name": "wykresTemperatury",
        "group": "8fd607afb4745910",
        "order": 10,
        "width": 20,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury w czasie.\nDraws a temperature chart over time."
    },
    {
        "id": "a9e2fe4a84313054",
        "type": "ui_gauge",
        "z": "e01ca6b503c19193",
        "name": "",
        "group": "8fd607afb4745910",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "rssi",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "2cbf6768888c26c8",
        "type": "comment",
        "z": "e01ca6b503c19193",
        "name": "Odbieranie wiadomości",
        "info": "**MQTT In Node**:\n[POL]   Odbieranie wiadomości z tematu AMC/test na serwerze MQTT\n[ENG]   Receives messages from the topic \"AMC/test\" on the MQTT server\n",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "94580c5c3cf8cdf5",
        "type": "comment",
        "z": "e01ca6b503c19193",
        "name": "Przetwarzanie wiadomości",
        "info": "**Function Node \"rssi\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\n[ENG]   Processes messages to extract the RSSI value\n\n**Function Node \"temperatura\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość temperatury\n[ENG]   Processes messages to extract the temperature value.\n",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "b98c04409b4f4bc2",
        "type": "comment",
        "z": "e01ca6b503c19193",
        "name": "Monitoruje połączenie MQTT",
        "info": "**Status Node**:\n[POL]   Monitoruje status połączenia MQTT\n[ENG]   Monitors the MQTT connection status",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "7e1e830e6d3c3ace",
        "type": "comment",
        "z": "e01ca6b503c19193",
        "name": "Status na wartość numeryczną",
        "info": "**Function Node \"status mqtt\"**:\n[POL]   Tłumaczy status połączenia MQTT na wartość numeryczną.\n[ENG]   Translates the MQTT connection status into a numerical value",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc26acca7eadb054",
        "type": "comment",
        "z": "e01ca6b503c19193",
        "name": "Elementy widoczne",
        "info": "**Text Node \"Nazwa czujnika\"**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node \"temperatura\"**:\n[POL]   Wyświetla wartość temperatury.\n[ENG]   Displays the temperature value.\n\n**Chart Node \"wykresTemperatury\"**:\n[POL]   Rysuje wykres temperatury w czasie.\n[ENG]   Draws a temperature chart over time.\n\n**Gauge Node \"rssi\"**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge\n\n**LED Node \"MQTT\"**:\n[POL]   Wskaźnik LED wyświetlający status połączenia MQTT.\n[ENG]   LED indicator displaying the MQTT connection status.",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "2d201e0f3c0646bb",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "a97883d12d358ba6",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "a491189f3984503a",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "a97883d12d358ba6",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "0996d61ae7171da9",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "1d760889a8635587",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3714f1b8681fa79",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "1d760889a8635587",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb015ab70a6d8a3c",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "1d760889a8635587",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "f51249318e206483",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "1d760889a8635587",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "858a156dce49347a",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "1d760889a8635587",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "d74814550f024029",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "8fd607afb4745910",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8a316c44f7eb47d",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "8fd607afb4745910",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "b9f346ad276a8089",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "8fd607afb4745910",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "3f98de27519d4106",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "8fd607afb4745910",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "9cdbdbde010397d3",
        "type": "ui_spacer",
        "z": "e01ca6b503c19193",
        "name": "spacer",
        "group": "8fd607afb4745910",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "038eb83fd0c55fe9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.80.0.15",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8fd607afb4745910",
        "type": "ui_group",
        "name": "Czujnik temperatury",
        "tab": "179dde65bf75e1b2",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a97883d12d358ba6",
        "type": "ui_group",
        "name": "Czujnik ruchu i drgań MOV",
        "tab": "179dde65bf75e1b2",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d760889a8635587",
        "type": "ui_group",
        "name": "Czujnik ruchu i drgań ANG",
        "tab": "179dde65bf75e1b2",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "179dde65bf75e1b2",
        "type": "ui_tab",
        "name": "Ekran główny",
        "icon": "weekend",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]