temperatura.json
[
    {
        "id": "3e6505394cf48b86",
        "type": "tab",
        "label": "Aplikacja dla czujnika temperatury",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cd0b00adb8a2600",
        "type": "mqtt in",
        "z": "3e6505394cf48b86",
        "name": "",
        "topic": "AMC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "038eb83fd0c55fe9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "ab072c318ce339a7",
                "07b374d37144a1c9",
                "3ce1fda225948d6f",
                "e160a0920f472a32",
                "0ef219cd919cd8a8"
            ]
        ],
        "info": "Odbiera wiadomości z tematu 'AMC' na serwerze MQTT.\nReceives messages from the topic 'AMC' on the MQTT server."
    },
    {
        "id": "ab072c318ce339a7",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "39dcb38ec367c586"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "07b374d37144a1c9",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "temperatura",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].charValues.temperature;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "017e53c7cd85452c"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość temperatury.\nProcesses messages to extract the temperature value."
    },
    {
        "id": "3ce1fda225948d6f",
        "type": "ui_text",
        "z": "3e6505394cf48b86",
        "group": "cf5babd6a84d2855",
        "order": 1,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload.data[0].name}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 860,
        "y": 140,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\nDisplays the sensor name."
    },
    {
        "id": "e160a0920f472a32",
        "type": "debug",
        "z": "3e6505394cf48b86",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 340,
        "wires": [],
        "info": "Służy do debugowania wiadomości.\nUsed for debugging messages."
    },
    {
        "id": "d60a9c2e4056e839",
        "type": "status",
        "z": "3e6505394cf48b86",
        "name": "",
        "scope": [
            "9cd0b00adb8a2600"
        ],
        "x": 120,
        "y": 540,
        "wires": [
            [
                "d38c90f3dde9a2f8"
            ]
        ],
        "info": "Monitoruje status połączenia MQTT.\nMonitors the MQTT connection status."
    },
    {
        "id": "d38c90f3dde9a2f8",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "status mqtt",
        "func": "if(msg.status.fill === \"green\") {\n    msg.payload = 2;\n} else if (msg.status.fill === \"yellow\") {\n    msg.payload = 1;\n} else if (msg.status.fill === \"red\") {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "2cef4c861015217f"
            ]
        ],
        "info": "Tłumaczy status połączenia MQTT na wartość numeryczną.\nTranslates the MQTT connection status into a numerical value."
    },
    {
        "id": "2cef4c861015217f",
        "type": "ui_led",
        "z": "3e6505394cf48b86",
        "order": 4,
        "group": "cf5babd6a84d2855",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 540,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\nLED indicator displaying the MQTT connection status."
    },
    {
        "id": "0ef219cd919cd8a8",
        "type": "ui_text",
        "z": "3e6505394cf48b86",
        "group": "cf5babd6a84d2855",
        "order": 5,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "temperatura:",
        "format": "{{msg.payload.data[0].charValues.temperature}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Lucida Sans Unicode,Lucida Grande,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 850,
        "y": 180,
        "wires": [],
        "info": "Wyświetla wartość temperatury.\nDisplays the temperature value."
    },
    {
        "id": "017e53c7cd85452c",
        "type": "ui_chart",
        "z": "3e6505394cf48b86",
        "name": "wykresTemperatury",
        "group": "cf5babd6a84d2855",
        "order": 10,
        "width": 20,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury w czasie.\nDraws a temperature chart over time."
    },
    {
        "id": "39dcb38ec367c586",
        "type": "ui_gauge",
        "z": "3e6505394cf48b86",
        "name": "",
        "group": "cf5babd6a84d2855",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "rssi",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "018a38f8791887fa",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Odbieranie wiadomości",
        "info": "**MQTT In Node**:\n[POL]   Odbieranie wiadomości z tematu AMC na serwerze MQTT\n[ENG]   Receives messages from the topic \"AMC\" on the MQTT server\n",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "46f3946b16988429",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Przetwarzanie wiadomości",
        "info": "**Function Node \"rssi\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\n[ENG]   Processes messages to extract the RSSI value\n\n**Function Node \"temperatura\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość temperatury\n[ENG]   Processes messages to extract the temperature value.\n",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "765d4f2bf7d6d561",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Monitoruje połączenie MQTT",
        "info": "**Status Node**:\n[POL]   Monitoruje status połączenia MQTT\n[ENG]   Monitors the MQTT connection status",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "f6ee0cf2cfe16ae4",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Status na wartość numeryczną",
        "info": "**Function Node \"status mqtt\"**:\n[POL]   Tłumaczy status połączenia MQTT na wartość numeryczną.\n[ENG]   Translates the MQTT connection status into a numerical value",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "b97287c1763d2d52",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Elementy widoczne",
        "info": "**Text Node \"Nazwa czujnika\"**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node \"temperatura\"**:\n[POL]   Wyświetla wartość temperatury.\n[ENG]   Displays the temperature value.\n\n**Chart Node \"wykresTemperatury\"**:\n[POL]   Rysuje wykres temperatury w czasie.\n[ENG]   Draws a temperature chart over time.\n\n**Gauge Node \"rssi\"**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge\n\n**LED Node \"MQTT\"**:\n[POL]   Wskaźnik LED wyświetlający status połączenia MQTT.\n[ENG]   LED indicator displaying the MQTT connection status.",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b63092799eb785a",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "7e7b17b88c831819",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "88e567143d304376",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "7e7b17b88c831819",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "1c6cc336111491f6",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f0d01b46486bfb0",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "58d03ef1f0886ae4",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "9aa63e94831d2365",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9f431df3fbfa21b",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "e9b4460a3f4687ae",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "40ba0745d8ebe3f6",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "8651aa88b507acac",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "68760ecf1d810efe",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "baecfdc27ec8d4f1",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "038eb83fd0c55fe9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.80.0.7",
        "port": "1833",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cf5babd6a84d2855",
        "type": "ui_group",
        "name": "Czujnik temperatury",
        "tab": "27dfe47685640fe5",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e7b17b88c831819",
        "type": "ui_group",
        "name": "Czujnik ruchu i drgań MOV",
        "tab": "27dfe47685640fe5",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ff3da247dc883c",
        "type": "ui_group",
        "name": "Czujnik ruchu i drgań ANG",
        "tab": "27dfe47685640fe5",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27dfe47685640fe5",
        "type": "ui_tab",
        "name": "Ekran główny",
        "icon": "weekend",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]