temperatury_i_wilgotności.json
[
    {
        "id": "3e6505394cf48b86",
        "type": "tab",
        "label": "Aplikacja dla czujnika temperatury i wilgotności",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fac77b1da1eb6e13",
        "type": "ui_text",
        "z": "3e6505394cf48b86",
        "group": "5159dc9ffe43f36f",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload.data[0].name}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 180,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "ef0f4d0dcc44c5dc",
        "type": "ui_text",
        "z": "3e6505394cf48b86",
        "group": "5159dc9ffe43f36f",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 220,
        "wires": [],
        "info": "Wyświetla temperature.\r\nDisplays the temperature.\r\n"
    },
    {
        "id": "617705ed2c4a3a5b",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "RHT temperatura",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].charValues.temperature;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ef0f4d0dcc44c5dc",
                "104657c0d7cdf74f"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość temperatury\r\nProcesses messages to extract the temperature value.\r\n"
    },
    {
        "id": "e8aa6110501f1df4",
        "type": "ui_text",
        "z": "3e6505394cf48b86",
        "group": "5159dc9ffe43f36f",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Wilgotność:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 260,
        "wires": [],
        "info": "Wyświetla wilgotność.\r\nDisplays the humidity.\r\n"
    },
    {
        "id": "95c220c59ae417a2",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "RHT wilgotnosc",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].charValues.humidity;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"wilgotność\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "e8aa6110501f1df4",
                "ad97ceffcea40a09"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość wilgotniści\r\nProcesses messages to extract the humidity value.\r\n"
    },
    {
        "id": "104657c0d7cdf74f",
        "type": "ui_chart",
        "z": "3e6505394cf48b86",
        "name": "RHT T",
        "group": "5159dc9ffe43f36f",
        "order": 9,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 220,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury.\r\nDraws the temperature."
    },
    {
        "id": "998dc367a0898eea",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "RHT rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "8a584950e8da4e55"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\r\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "8a584950e8da4e55",
        "type": "ui_gauge",
        "z": "3e6505394cf48b86",
        "name": "",
        "group": "5159dc9ffe43f36f",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "ad97ceffcea40a09",
        "type": "ui_chart",
        "z": "3e6505394cf48b86",
        "name": "RHT H",
        "group": "5159dc9ffe43f36f",
        "order": 10,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ],
        "info": "Rysuje wykres wilgotność.\r\nDraws the humidity."
    },
    {
        "id": "8cd592f4533d4437",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "RHT bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "21a119fd9a6ed316"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość baterii.\r\nProcesses messages to extract the battery value."
    },
    {
        "id": "21a119fd9a6ed316",
        "type": "ui_text",
        "z": "3e6505394cf48b86",
        "group": "5159dc9ffe43f36f",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 340,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "d632648ebbe7e87c",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Przetwarzanie wiadomości dla RHT",
        "info": "**Function Node 'RHT nazwa'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić nazwe czujnika.\n[ENG]   Processes messages to extract the name value from sensor.\n\n**Function Node \"RHT temperatura\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość temperatury\n[ENG]   Processes messages to extract the temperature value.\n\n**Function Node \"RHT wilgotnisc\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość wilgotniści\n[ENG]   Processes messages to extract the humidity value.\n\n**Function Node \"RHT rssi\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\n[ENG]   Processes messages to extract the RSSI value\n\n**Function Node \"RHT bateria\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość baterii\n[ENG]   Processes messages to extract the battery value.",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ac379590d5f2660",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "Elementy widoczne dla RHT",
        "info": "**Text Node \"Nazwa czujnika\"**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node \"Temperatura\"**:\n[POL]   Wyświetla wartość temperatury.\n[ENG]   Displays the temperature value.\n\n**Text Node \"Wilgotnisc\"**:\n[POL]   Wyświetla wartość wilgotniści.\n[ENG]   Displays the humidity value.\n\n**Chart Node \"RHT T\"**:\n[POL]   Rysuje wykres temperatury w czasie.\n[ENG]   Draws a temperature chart.\n\n**Chart Node \"RHT H\"**:\n[POL]   Rysuje wykres wilgotniści w czasie.\n[ENG]   Draws the humidity chart.\n\n**Gauge Node \"rssi\"**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge.\n\n**Text Node \"Bateria\"**:\n[POL]   Wyświetla wartość baterii.\n[ENG]   Displays the battery value.\n",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "a435346ea2303569",
        "type": "mqtt in",
        "z": "3e6505394cf48b86",
        "name": "",
        "topic": "AMC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a3901b1c9ba83425",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "4818cede21e6f313",
                "617705ed2c4a3a5b",
                "95c220c59ae417a2",
                "998dc367a0898eea",
                "8cd592f4533d4437",
                "f6b9f70d2c31f03b"
            ]
        ],
        "info": "Odbiera wiadomości z tematu 'AMC' na serwerze MQTT.\nReceives messages from the topic 'AMC' on the MQTT server."
    },
    {
        "id": "4818cede21e6f313",
        "type": "debug",
        "z": "3e6505394cf48b86",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 320,
        "wires": [],
        "info": "Służy do debugowania wiadomości.\nUsed for debugging messages."
    },
    {
        "id": "a67ebd1f0247d55f",
        "type": "status",
        "z": "3e6505394cf48b86",
        "name": "",
        "scope": [
            "a435346ea2303569"
        ],
        "x": 180,
        "y": 460,
        "wires": [
            [
                "e87bb00e1aa0bf60"
            ]
        ],
        "info": "Nasłuchuje statusu 'mqtt in' node\r\nListens to the status of the 'mqtt in' node."
    },
    {
        "id": "e87bb00e1aa0bf60",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "mqtt",
        "func": "if(msg.status.fill === \"green\") {\n    msg.payload = 2;\n} else if (msg.status.fill === \"yellow\") {\n    msg.payload = 1;\n} else if (msg.status.fill === \"red\") {\n    msg.payload = 0;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "c3562bd568ecf0c6"
            ]
        ],
        "info": "Przetwarza status połączenia MQTT na cyfry przypisane do kolorów LED\r\n(connected -> 2 -> zielony, connecting -> 1 -> żółty, disconnected -> 0 -> czerwony).\r\nProcesses the MQTT connection status into numbers assigned to LED colors.\r\n(connected -> 2 -> green, connecting -> 1 -> yellow, disconnected -> 0 -> red).\r\n"
    },
    {
        "id": "9e83b02d4f86c68b",
        "type": "comment",
        "z": "3e6505394cf48b86",
        "name": "LED Node \"MQTT\"",
        "info": "**LED Node \"dla MOV\", \"dla MAG\", \"dla T\", \"dla RHT\", \"dla ANG\"**:\n[POL]   Wskaźnik LED wyświetlający status połączenia MQTT\n        (connected -> zielony, connecting -> żółty, disconnected -> czerwony).\n[ENG]   LED indicator displaying the MQTT connection status.\n        (connected -> green, connecting -> yellow, disconnected -> red)",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "c3562bd568ecf0c6",
        "type": "ui_led",
        "z": "3e6505394cf48b86",
        "order": 4,
        "group": "5159dc9ffe43f36f",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla RHT",
        "x": 620,
        "y": 460,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "f6b9f70d2c31f03b",
        "type": "function",
        "z": "3e6505394cf48b86",
        "name": "RHT nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "fac77b1da1eb6e13"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić nazwę czujnika.\r\nProcesses messages to extract the sensor name."
    },
    {
        "id": "3b63092799eb785a",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "7e7b17b88c831819",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "88e567143d304376",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "7e7b17b88c831819",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "1c6cc336111491f6",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f0d01b46486bfb0",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "58d03ef1f0886ae4",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "9aa63e94831d2365",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9f431df3fbfa21b",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "d6ff3da247dc883c",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "e9b4460a3f4687ae",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "40ba0745d8ebe3f6",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "8651aa88b507acac",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "68760ecf1d810efe",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "baecfdc27ec8d4f1",
        "type": "ui_spacer",
        "z": "3e6505394cf48b86",
        "name": "spacer",
        "group": "cf5babd6a84d2855",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "5159dc9ffe43f36f",
        "type": "ui_group",
        "name": "RHT",
        "tab": "fe41c60bfc39d6c2",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3901b1c9ba83425",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.80.6.102",
        "port": "61883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7e7b17b88c831819",
        "type": "ui_group",
        "name": "Czujnik ruchu i drgań MOV",
        "tab": "27dfe47685640fe5",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ff3da247dc883c",
        "type": "ui_group",
        "name": "Czujnik ruchu i drgań ANG",
        "tab": "27dfe47685640fe5",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf5babd6a84d2855",
        "type": "ui_group",
        "name": "Czujnik temperatury",
        "tab": "27dfe47685640fe5",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe41c60bfc39d6c2",
        "type": "ui_tab",
        "name": "RHT",
        "icon": "opacity",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "27dfe47685640fe5",
        "type": "ui_tab",
        "name": "Ekran główny",
        "icon": "weekend",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]